$normal: rgb(200, 200, 200);
$magic: rgb(136, 136, 255);
$rare: rgb(255, 255, 119);
$unique: rgb(175, 96, 37);

.item-card {
  font-family: Fontin SmallCaps;
  font-size: 1rem;
  text-align: center;
  width: 50%;
  box-sizing: border-box;
  padding: 1rem;
  border: 1px solid black;

  ul {
    padding-left: 0;
    list-style-type: none;
  }
}

.item-card__header {
  h3, h4 {
    font-weight: 300;
    line-height: 1;
    margin: 0;
  }
}
