.search-results {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
//  background: url('https://web.poecdn.com/image/layout/delve-bg.jpg?1532301196000');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
